spring:
  security:
    user:
      name: healthcheck
      password: zb!XztG34

server:
  port: 6969
  servlet:
    context-path: /onap/participantsim
  error:
    path: /error

participant:
  intermediaryParameters:
    reportingTimeInterval: 120000
    description: Participant Description
    participantId:
      name: org.onap.PM_CDS_Blueprint
      version: 1.0.0
    participantType:
      name: org.onap.PM_CDS_Blueprint
      version: 1.0.0
    clampControlLoopTopics:
      topicSources[0]:
        topic: POLICY-CLRUNTIME-PARTICIPANT
        servers[0]: ${topicServer:message-router}
        topicCommInfrastructure: dmaap
        fetchTimeout: 15000
      topicSinks[0]:
        topic: POLICY-CLRUNTIME-PARTICIPANT
        servers[0]: ${topicServer:message-router}
        topicCommInfrastructure: dmaap
