<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img
      src="../../../../assets/images/logo_onap.png" alt="ONAP" width="200px"></a>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/commissioning">TOSCA POC Commissioning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/monitoring">TOSCA POC Monitoring</a>
      </li>
    </ul>
  </div>
</nav>
