target
.settings
.classpath
.project
.buildpath
.idea
.checkstyle
*.iml
runtime/ui-react/node_modules
runtime/ui-react/package-lock.json
runtime/ui-react-lib/node_modules
runtime/ui-react-lib/package-lock.json
ui-react/build
**/.evosuite/
**/debug-logs/
*.log
*.tmp

# emacs working files
.\#*
\#*\#
*~
auto-save-list
tramp
venv