target
.settings
.classpath
.project
.buildpath
.idea
.checkstyle
*.iml
csit/archives
**/.evosuite/
**/debug-logs/
*.log
*.tmp

# emacs working files
.\#*
\#*\#
*~
auto-save-list
tramp
venv

#Visual Studio
.DS_Store
**/.DS_Store
