target
.settings
.classpath
.project
.buildpath
.idea
*.iml
ui-react/node_modules
ui-react/build
**/package-lock.json
**/logs/
**/.evosuite/
**/debug-logs/
*.log
*.tmp

# emacs working files
.\#*
\#*\#
*~
auto-save-list
tramp
