[project]
	description = \"policy-clamp\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-policy-clamp-committers
[access "refs/for/refs/heads/*"]
	push = +force group self-serve-release
	pushMerge = group self-serve-release
	create = group self-serve-release
[access "refs/heads/*"]
	create = group self-serve-release
[plugin "its-jira"]
	enabled = false
