<configuration scan="true" scanPeriod="60 seconds"
	debug="true">
	<springProperty name="logbackFilePath"
		source="clamp.config.logback.path" />
	<springProperty name="logbackFileName"
		source="clamp.config.logback.filename" />
	<springProperty name="logDirectory"
		source="clamp.config.log.path" />
		
	<if condition='isNull("logbackFilePath")'>
		<then>
			<!-- Classpath case -->
			<include resource="${logbackFileName}" />
		</then>
		<else>
			<!-- File system case -->
			<include file="${logbackFilePath}/${logbackFileName}" />
		</else>
	</if>


</configuration>