spring:
  application:
    name: a1pms-ppnt
  security:
    user:
      name: ${HTTP_USER:participantUser}
      password: ${HTTP_PASSWORD:zb!XztG34}
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
      - org.springframework.boot.autoconfigure.data.web.SpringDataWebAutoConfiguration
security:
  enable-csrf: false

a1pms:
  baseUrl: ${a1pmsBaseUrl:http://a1policymanagement.onap:8081}
  headers:
    content-type: application/json
  endpoints:
    health: /a1-policy/v2/rics
    services: /a1-policy/v2/services
    service: /a1-policy/v2/services/{service_id}

participant:
  intermediaryParameters:
    topics:
      operationTopic: policy-acruntime-participant
      syncTopic: acm-ppnt-sync
    reportingTimeIntervalMs: 120000
    description: Participant A1pms
    participantId: 101c62b3-8918-41b9-a747-d21eb79c6c00
    clampAutomationCompositionTopics:
      topicSources:
        - topic: ${participant.intermediaryParameters.topics.operationTopic}
          servers:
            - ${kafkaServer:kafka:9092}
          topicCommInfrastructure: ${topicCommInfrastructure:NOOP}
          fetchTimeout: 15000
          useHttps: ${kafkaUseHttps:false}
          allowTracing: ${allowTracing:false}
          additionalProps:
            group.id: policy-clamp-ac-a1pms-ppnt
            allow.auto.create.topics: ${allowAutoCreateTopics:true}
            security.protocol: ${kafkaSecurityProtocol:PLAINTEXT}
            sasl.mechanism: ${kafkaSaslMechanism:GSSAPI}
            sasl.jaas.config: ${kafkaSaslJaasConfig:}
        - topic: ${participant.intermediaryParameters.topics.syncTopic}
          servers:
            - ${kafkaServer:kafka:9092}
          topicCommInfrastructure: ${topicCommInfrastructure:NOOP}
          fetchTimeout: 15000
          useHttps: ${kafkaUseHttps:false}
          allowTracing: ${allowTracing:false}
          additionalProps:
            allow.auto.create.topics: ${allowAutoCreateTopics:true}
            security.protocol: ${kafkaSecurityProtocol:PLAINTEXT}
            sasl.mechanism: ${kafkaSaslMechanism:GSSAPI}
            sasl.jaas.config: ${kafkaSaslJaasConfig:}
      topicSinks:
        - topic: ${participant.intermediaryParameters.topics.operationTopic}
          servers:
            - ${kafkaServer:kafka:9092}
          topicCommInfrastructure: ${topicCommInfrastructure:NOOP}
          useHttps: ${kafkaUseHttps:false}
          allowTracing: ${allowTracing:false}
          additionalProps:
            allow.auto.create.topics: ${allowAutoCreateTopics:true}
            security.protocol: ${kafkaSecurityProtocol:PLAINTEXT}
            sasl.mechanism: ${kafkaSaslMechanism:GSSAPI}
            sasl.jaas.config: ${kafkaSaslJaasConfig:}
    participantSupportedElementTypes:
      -
        typeName: org.onap.policy.clamp.acm.A1PMSAutomationCompositionElement
        typeVersion: 1.0.1

management:
  tracing:
    propagation:
      produce: ${jaegerProducerType:B3}
    sampling:
      probability: ${jaegerSamplingProbability:1.0}
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      access: unrestricted
      show-details: always
      probes:
        enabled: true
      show-components: always

server:
  port: 6969
  ssl:
    enabled: false
  servlet:
    context-path: /onap/policy/clamp/acm/a1pmsparticipant

tracing:
  enabled: ${allowTracing:false}
  exporter:
    endpoint: ${tracingExporterEndpoint:http://jaeger:4318/v1/traces}
    protocol: ${tracingExporterProtocol:http}
  sampler:
    jaeger-remote:
      endpoint: ${tracingSamplerEndpoint:http://jaeger:14250}
