spring:
  profiles:
    active: default
  security:
    user:
      name: runtimeUser
      password: zb!XztG34
  mvc:
    converters:
      preferred-json-mapper: gson
  datasource:
    url: jdbc:mariadb://${mariadb.host:localhost}:${mariadb.port:3306}/clampacm
    driverClassName: org.mariadb.jdbc.Driver
    username: policy
    password: P01icY
    hikari:
      connectionTimeout: 30000
      idleTimeout: 600000
      maxLifetime: 1800000
      maximumPoolSize: 10
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.onap.policy.common.spring.utils.CustomImplicitNamingStrategy
    properties:
      hibernate:
        format_sql: true

server:
  port: 6969
  servlet:
    context-path: /onap/policy/clamp/acm
  error:
    path: /error

runtime:
  topics:
    operationTopic: policy-acruntime-participant
    syncTopic: acm-ppnt-sync
  participantParameters:
    heartBeatMs: 20000
    maxStatusWaitMs: 200000
  topicParameterGroup:
    topicSources:
      -
        topic: ${runtime.topics.operationTopic}
        servers:
          - ${topicServer:kafka:9092}
        topicCommInfrastructure: NOOP
        fetchTimeout: 15000
    topicSinks:
      -
        topic: ${runtime.topics.operationTopic}
        servers:
          - ${topicServer:kafka:9092}
        topicCommInfrastructure: NOOP

      -
        topic: ${runtime.topics.syncTopic}
        servers:
          - ${topicServer:kafka:9092}
        topicCommInfrastructure: NOOP
  acmParameters:
    toscaElementName: org.onap.policy.clamp.acm.AutomationCompositionElement
    toscaCompositionName: org.onap.policy.clamp.acm.AutomationComposition

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, metrics, prometheus
