<!-- Empty Configuration to prevent creating log files by Units Tests (e.g LoggingUtilsTest) ! -->
<configuration>
    <jmxConfigurator />
    <!-- Example evaluator filter applied against console appender -->
    <property
        name="p_tim"
        value="%d{&quot;yyyy-MM-dd'T'HH:mm:ss.SSSXXX&quot;, UTC}" />
    <property
        name="p_lvl"
        value="%level" />
    <property
        name="p_log"
        value="%logger" />
    <property
        name="p_mdc"
        value="%replace(%replace(%mdc){'\t','\\\\t'}){'\n', '\\\\n'}" />
    <property
        name="p_msg"
        value="%replace(%replace(%msg){'\t', '\\\\t'}){'\n','\\\\n'}" />
    <property
        name="p_exc"
        value="%replace(%replace(%rootException){'\t', '\\\\t'}){'\n','\\\\n'}" />
    <property
        name="p_mak"
        value="%replace(%replace(%marker){'\t', '\\\\t'}){'\n','\\\\n'}" />
    <property
        name="p_thr"
        value="%thread" />
    <property
        name="defaultPattern"
        value="%nopexception${p_tim}\t${p_thr}\t${p_lvl}\t${p_log}\t${p_mdc}\t${p_msg}\t${p_exc}\t${p_mak}\t%n" />
    <property
        name="debugPattern"
        value="%nopexception${p_tim}|${p_lvl}|${p_mdc}|${p_exc}|%msg%n" />

    <!-- Example evaluator filter applied against console appender -->
    <appender
        name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <logger
        name="org.onap.aaf"
        level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger
        name="org.apache"
        level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <!-- Spring related loggers -->
    <logger
        name="org.springframework"
        level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- CLDS related loggers -->
    <logger
        name="org.onap.clamp"
        level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- CLDS related loggers -->
    <logger
        name="com.att.eelf.error"
        level="OFF">
        <appender-ref ref="STDOUT" />
    </logger>
   
    <logger
        name="ch.qos.logback.classic"
        level="INFO" />
    <logger
        name="ch.qos.logback.core"
        level="INFO" />

    <!-- logback jms appenders & loggers definition ends here -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
