spring:
  security:
    user:
      name: participantUser
      password: zb!XztG34
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
      - org.springframework.boot.autoconfigure.data.web.SpringDataWebAutoConfiguration

security:
  enable-csrf: false

participant:
  localChartDirectory: /home/policy/local-charts
  infoFileName: CHART_INFO.json
  intermediaryParameters:
    reportingTimeIntervalMs: 120000
    description: Participant Description
    participantId:
      name: K8sParticipant0
      version: 1.0.0
    participantType:
      name: org.onap.policy.clamp.acm.KubernetesParticipant
      version: 2.3.4
    clampAutomationCompositionTopics:
      topicSources:
        -
          topic: POLICY-ACRUNTIME-PARTICIPANT
          servers:
            - ${topicServer:localhost}
          topicCommInfrastructure: dmaap
          fetchTimeout: 15000
      topicSinks:
        -
          topic: POLICY-ACRUNTIME-PARTICIPANT
          servers:
            - ${topicServer:localhost}
          topicCommInfrastructure: dmaap

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, metrics, prometheus
server:
  port: 8083
  servlet:
    context-path: /onap/policy/clamp/acm/k8sparticipant

logging:
  # Configuration of logging
  level:
    ROOT: INFO
    org.springframework: ERROR
    org.springframework.data: ERROR
    org.springframework.web.reactive.function.client.ExchangeFunctions: ERROR
    org.onap.policy.clamp.acm.participant.kubernetes: INFO

  file:
    name: /var/log/onap/policy/clamp/application.log

chart:
  api:
    enabled: false
# Update the config here for permitting repositories and protocols
helm:
  repos:
    -
      repoName: kong
      address: https://charts.konghq.com
    -
      repoName: bitnami
      address: https://charts.bitnami.com/bitnami

  protocols:
    - http
    - https
