spring:
  application:
    name: k8s-ppnt
  security:
    user:
      name: ${HTTP_USER:participantUser}
      password: ${HTTP_PASSWORD:zb!XztG34}
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
      - org.springframework.boot.autoconfigure.data.web.SpringDataWebAutoConfiguration
  servlet:
    multipart:
      max-file-size: 128KB
      max-request-size: 128KB
      enabled: true

security:
  enable-csrf: false


participant:
  localChartDirectory: /home/policy/local-charts
  infoFileName: CHART_INFO.json
  intermediaryParameters:
    topics:
      operationTopic: policy-acruntime-participant
      syncTopic: acm-ppnt-sync
    reportingTimeIntervalMs: 120000
    description: Participant k8s
    participantId: 101c62b3-8918-41b9-a747-d21eb79c6c02
    clampAutomationCompositionTopics:
      topicSources:
        - topic: ${participant.intermediaryParameters.topics.operationTopic}
          servers:
            - ${kafkaServer:kafka:9092}
          topicCommInfrastructure: ${topicCommInfrastructure:NOOP}
          fetchTimeout: 15000
          useHttps: ${kafkaUseHttps:false}
          allowTracing: ${allowTracing:false}
          additionalProps:
            group.id: policy-clamp-ac-k8s-ppnt
            allow.auto.create.topics: ${allowAutoCreateTopics:true}
            security.protocol: ${kafkaSecurityProtocol:PLAINTEXT}
            sasl.mechanism: ${kafkaSaslMechanism:GSSAPI}
            sasl.jaas.config: ${kafkaSaslJaasConfig:}
        - topic: ${participant.intermediaryParameters.topics.syncTopic}
          servers:
            - ${kafkaServer:kafka:9092}
          topicCommInfrastructure: ${topicCommInfrastructure:NOOP}
          fetchTimeout: 15000
          useHttps: ${kafkaUseHttps:false}
          allowTracing: ${allowTracing:false}
          additionalProps:
            allow.auto.create.topics: ${allowAutoCreateTopics:true}
            security.protocol: ${kafkaSecurityProtocol:PLAINTEXT}
            sasl.mechanism: ${kafkaSaslMechanism:GSSAPI}
            sasl.jaas.config: ${kafkaSaslJaasConfig:}
      topicSinks:
        - topic: ${participant.intermediaryParameters.topics.operationTopic}
          servers:
            - ${kafkaServer:kafka:9092}
          topicCommInfrastructure: ${topicCommInfrastructure:NOOP}
          useHttps: ${kafkaUseHttps:false}
          allowTracing: ${allowTracing:false}
          additionalProps:
            allow.auto.create.topics: ${allowAutoCreateTopics:true}
            security.protocol: ${kafkaSecurityProtocol:PLAINTEXT}
            sasl.mechanism: ${kafkaSaslMechanism:GSSAPI}
            sasl.jaas.config: ${kafkaSaslJaasConfig:}
    participantSupportedElementTypes:
      -
        typeName: org.onap.policy.clamp.acm.K8SMicroserviceAutomationCompositionElement
        typeVersion: 1.0.0

management:
  tracing:
    propagation:
      produce: ${jaegerProducerType:B3}
    sampling:
      probability: ${jaegerSamplingProbability:1.0}
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      access: unrestricted
      show-details: always
      probes:
        enabled: true
      show-components: always

server:
  port: 6969
  ssl:
    enabled: false
  servlet:
    context-path: /onap/policy/clamp/acm/k8sparticipant

logging:
  # Configuration of logging
  level:
    ROOT: INFO
    org.springframework: ERROR
    org.springframework.data: ERROR
    org.springframework.web.reactive.function.client.ExchangeFunctions: ERROR
    org.onap.policy.clamp.acm.participant.kubernetes: INFO

  file:
    name: /var/log/onap/policy/clamp/application.log

chart:
  api:
    enabled: false
# Update the config here for permitting repositories and protocols
helm:
  repos:
    -
      repoName: kong
      address: https://charts.konghq.com
    -
      repoName: bitnami
      address: https://charts.bitnami.com/bitnami

  protocols:
    - http
    - https

tracing:
  enabled: ${allowTracing:false}
  exporter:
    endpoint: ${tracingExporterEndpoint:http://jaeger:4318/v1/traces}
    protocol: ${tracingExporterProtocol:http}
  sampler:
    jaeger-remote:
      endpoint: ${tracingSamplerEndpoint:http://jaeger:14250}
